@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
  }
  
  header h1 {
    font-weight: 600;
    font-size: 1.25rem;
  }
  
  header a {
    text-decoration: none;
    color: #374151;
  }
  
  header a:hover {
    color: #2563eb;
  }
  
